.container-fluid{
    padding-top: 20px;
    display: flex;
    justify-content: left;
    /* background-color: #ADD8E6;  */
    background-image: url("E:\Memstech\learning_memstech\src\assets\home.jpg"); 
    margin-left: 5pxpx;
    width: 100%;
    height: 100vh;
}
.h2{
    margin-right: 500px;
    /* text-align: center; */
    /* color: #fff; */
} 
/* .nav navbar-nav{
    padding-top: 20px;
    justify-content: right;
    display: flex;
    margin-right: auto;

} */
/* .btn {
    margin-left: 900px;
} */
.logo{
    width: 50px;
    position: absolute;
    top: 3%;
    bottom: 3%;
    left: 2%;
    text-align: center;
}
.collapse {
    width: 120px;
    height: 150vh;
    position:fixed;
    left: 20%;
    right: 0;
    top: 2;
    margin-left: 450px;
}
.nav{
    margin-left: 425px;
}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
    /* transform: translateY(-50%); */
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}