/* .h1{
    text-align: center;
}
.card{

    width: 100%;
}
input{
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: 1px solid grey;
    cursor: pointer;
    width: 300px;
}

.formbox{
    display: grid;
    justify-content: center;
}

.containerDiv{
    width: 60%;
    border: 3px solid #f1f1f1;
    background-color: #ADD8E6;
    height: 200;
    display: grid;
    justify-content: center;
} */
