/* .h1{
    text-align: center;
}
.container{
    padding: auto;
    max-height: max-content;
    background-color: white;
}
.btn {
    text-align: left;
}
/* .customer-detail{
    display: grid;
} */
/* .form-group{
    display: grid;
    width: 10px;
    text-align: justify;

}
.element-actions{
    width: 120px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 2;
    color: lightblue;
}
.modal-header{
    background-color: lightblue;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
}
.card{
    margin-left: 200px;
    margin-right: 200px;
}
div.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }  */