<div class="content">
    <div class ="element-wrapper">
        <h1> Customer </h1>
        <div class ="element-actions">
            <button class="btn btn-primary"> AddCustomer </button>
        </div>
    </div>
    <div class="card-body-padded">
        <div class="table-container">
            <table class="table table-padded">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Password</th> 
                        <th>DOB</th> 
                        <th>Gender</th>                         
                        <th>Mobile Number</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
            </table>
        </div>
    </div>
</div>
<section class="modal fade " id="add_user" aria-hidden="true"  >
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add user Customer</h4>
        </div>
<!-- <h1> KINDLY FILL YOUR CUSTOMER DETAILS </h1> -->
            <div class="card">
                <div class="container">
                <form id="addcustomer">
                    <div class="row">
                        <div class=" form-group col-sm-6 mb-2">
                            <label for="name"> Name: </label> 
                            <input type="text" name="name" class="form-control" style="text-transform:uppercase"  required>
                        </div>
                        <div class="form-group col-sm-6 mb-2">
                            <label for="lname"> Last Name: </label>
                            <input type="text" name="lastName" class="form-control" style="text-transform:uppercase"  required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 mb-2">
                            <label> Email: </label>
                            <input type="text" name="email" class="form-control" style="text-transform:lowercase" required>
                        </div>
                        <div class="form-group col-sm-6 mb-2">
                            <label> Password: </label>
                            <input type="password" id="pwd" name="passw" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 mb-2">
                            <label> DOB: </label>
                            <input type="text" name="dob" class="form-control" required>
                        </div>
                        <div class="form-group col-sm-6 mb-2">
                            <label> Gender: </label>
                            <input type="text" name="gender" class="form-control" style="text-transform:uppercase" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 mb-2">
                            <label> Mobile Number: </label>
                            <input type="text" name="mobileNum" class="form-control" required>
                        </div>
                        <div class="form-group col-sm-6 mb-2">
                            <label> Address: </label>
                            <input type="text" name="Addres" style="text-transform:lowercase" class="form-control" required>
                        </div>
                    </div>
                    <br>
                    <div class="form-group col-sm-6 mb-2">
                    <button type ="submit" class="btn btn-primary" (click)="OnClick()"> submit </button> 
                    </div>
                </form>
                </div>
            </div> 
    </div>
</section>



