.h1{
    text-align: center;
}
.heading{
    color: #f2f2f2;
    background-color: blue;
    width: 100%;
    height: 5vh;
    padding: 0;

}
.container{
    padding: auto;
    max-height: max-content;
    background-color: white;
}
.content{
    width:100%;
    /* height: 100vh;  */
    /* background-image: url(E:\Memstech\learning_memstech\src\assets\customer.jpg); */
    background-size: cover;
    background-position: center;
}

.btn {
    text-align: left;
}

.form-group{
    display: grid;
    width: 10px;
    text-align: justify;

}
.element-action{
    width: 120px;
    height: 100vh;
    position:absolute;
    right: 2;
    top: 3;
    left: 90%;
}
.modal-header{
    background-color: lightblue;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
}
.card{
    margin-left: 200px;
    margin-right: 200px;
}
div.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 60px;
}
.modal-content{
    padding: 0;
    margin-left: 50px;

} 
.modal{
    margin: 0;
    height: 0;
    width: auto;
}